
<main class="main">
  <div class="content">

    <div>

      <div>
        <button (click)="setView('biography')">Biography</button>
        <button (click)="setView('quotes')">Quotes</button>
        <button (click)="setView('resources')">Resources</button>
      </div>

      <div [ngSwitch]="currentView">
        <app-quotes *ngSwitchCase="'quotes'" [newQuotes]="quotes"></app-quotes>
        <app-biography *ngSwitchCase="'biography'"></app-biography>
        <app-resources *ngSwitchCase="'resources'" [newResources]="resources"></app-resources>
      </div>

      <div>
        <input [(ngModel)]="newQuote" placeholder="Add a quote">
        <button (click)="addQuote()">Add a quote</button>
      </div>

      <div>
        <h2>Add a link to the resource</h2>
        <input [(ngModel)]="newResource" placeholder="Add a link to the resource">
        <button (click)="addResource()">Add a link to the resource</button>
      </div>

    </div>
  </div>
</main>

<router-outlet />
