
<main class="main">
  <div class="content">

    <div>

      <mat-card>
       <mat-card-title>
        <app-biography></app-biography>
        </mat-card-title>
      </mat-card>



      <mat-card>
        <mat-card-title>
          <app-quotes [newQuotes]="quotes"></app-quotes>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Add a quote</mat-label>
            <input matInput [(ngModel)]="newQuote">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addQuote()">Add a quote</button>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          <app-resources [newResources]="resources"></app-resources>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Add a resource</mat-label>
            <input matInput [(ngModel)]="newResource">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addResource()">Add a resource</button>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</main>

<router-outlet />
