<div class="article">
  <div class="biography-content">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Bill_Gates_2018.jpg" alt="Bill Gates" class="portrait">
    <p><strong>Bill Gates</strong> is an American business magnate, software developer, and philanthropist. He is best known as the co-founder of Microsoft Corporation. Born on October 28, 1955, in Seattle, Washington, Gates developed an interest in computers at an early age. He dropped out of Harvard University to pursue his passion for software development, eventually leading to the creation of Microsoft with his childhood friend Paul Allen. Gates has been consistently ranked among the world's wealthiest people and is known for his philanthropic efforts through the Bill & Melinda Gates Foundation.</p>
  </div>
</div>


